{% extends 'base.html' %}

{% load static %}

{% block title %} Menu {% endblock %}

{% block content %}

<h2 class="border-bottom">Menu</h2>
<p>Adicione os produtos no Carrinho</p>
<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 pb-5 mx-1">
    {% for produto in produtos %}
    <div class=" card border-0 p-3 bg-light shadow-sm">
        <img class="img-fluid float-end my-brand-image" style="min-height: 280px; max-height: 285px;"
            src="{{ produto.imagem.url }}" alt="Imagem do Produto">
        <div>
            <h6 class="pt-2"><b>{{ produto.base.tipo }} de {{ produto.sabor }}</b>
                <br>
                <b>{{ produto.base.embalagem }}</b>
            </h6>
            <h6 class="text-end"><b>R$ {{ produto.preco }}</b></h6>
        </div>
        <div class="text-end">
            {% if request.user.is_authenticated %}
            <form action="{% url 'adicionar_carrinho' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                <button type="submit" class="btn btn-success btn-sm">
                    Adicionar ao Carrinho
                </button>
            </form>
            {% else %}
            <a href="/admin/login" class="btn btn-success btn-sm btnEnviarSacola">
                Adicionar ao Carrinho
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}

<script>
    // // Seleciona todos os botões ou links com a classe 'btnEnviarSacola'
    // const botoesAdicionarCarrinho = document.querySelectorAll('.btnEnviarSacola');

    // // Adiciona um evento de clique para cada botão ou link
    // botoesAdicionarCarrinho.forEach(botao => {
    //     botao.addEventListener('click', function (event) {
    //         // Obtém o id da div pai mais próxima do botão/link clicado
    //         const produtoDiv = this.closest('.card');
    //         const produtoId = produtoDiv.id;

    //         // Verifica se o botão é um link (quando o usuário não está autenticado)
    //         if (this.tagName.toLowerCase() === 'a') {
    //             event.preventDefault(); // Impede o comportamento padrão do link

    //             // Redireciona para a página de login ou cadastro com o id do produto como parâmetro
    //             let isLogin = this.href.includes('/admin/login'); // Verifica se o link é de login
    //             if (isLogin) {
    //                 window.location.href = `/admin/login?produto_id=${produtoId}`;
    //             } else {
    //                 window.location.href = `/admin/cadastro?produto_id=${produtoId}`;
    //             }
    //         } else {
    //             // Se for um botão (usuário autenticado), pode continuar com a lógica de adicionar ao carrinho
    //             console.log('Produto ID:', produtoId);
    //             // Lógica de adicionar ao carrinho via AJAX pode ser implementada aqui
    //         }
    //     });
    // });

</script>

{% endblock scripts %}