{% extends 'base.html' %}

{% block title %} Finalizar Pedido {% endblock %}

{% block content %}

<h2 class="pb-2 border-bottom">Meu Pedido: <span class="text-success fs-bold">N° {{ pedido.id }}</span></h2>

<p>Revise seu pedido. </p>
<p>Ao finalizar enviaremos a confirmação do pagamento via whatsapp.</p>

<div class="row">
    <h4 for="">Itens do Pedido</h4>
    <div class="col p-2 flex-fill">

        {% include 'components/lista-itens.html' %}

    </div>

    <form class="col-6 p-2 flex-fill" method="post"
        action="{% if total_itens > 0 %}{% url 'checkout_pedido' %}{% endif %}">
        {% csrf_token %}
        <h4 class="">Endereço de Entrega</h4>
        <div class="d-flex gap-2">
            <input type="text" class="form-control form-control-sm" id="cep" name="cep" maxlength="8"
                placeholder="CEP: 00000-000">
            <input type="text" class="form-control form-control-sm" id="numero_casa" name="numero_casa" maxlength="8"
                placeholder="Número Casa">
        </div>
        {{ form }}
        <button type="submit" class="btn btn-success mt-3">Finalizar Pedido</button>
    </form>

</div>

{% endblock %}