{% load static %}
<div class="d-flex justify-content-between">
    <div class="row text-center">
        <a class="col link-dark text-dark text-decoration-none" href="{% url 'index' %}">
            <!-- <img src="https://via.placeholder.com/200" alt="" width="100"> -->
            <h2>Sorveteria</h2>
        </a>
    </div>
    <div class="row-column align-content-center">
        <nav class="py-2">
            <div class="container d-flex gap-2 flex-wrap justify-content-evenly">
                <a class="btn btn-primary btn-sm align-content-center my-2 {% if request.path == '/' %}active{% endif %}"
                    href="{% url 'index' %}">Home</a>
                <a class="btn btn-primary btn-sm align-content-center my-2" href="#">Contato</a>
                <a class="btn btn-primary btn-sm align-content-center my-2 {% if request.path == '/menu/' %}active{% endif %}"
                    href="{% url 'menu' %}">Menu</a>
                {% if request.user.is_authenticated %}
                {% include 'sacola.html' %}
                <!-- Meus Pedidos -->
                <a class="btn btn-primary btn-sm align-content-center my-2 {% if request.path == '/meus-pedidos/' %}active{% endif %}"
                    href="{ url 'meus_pedidos' %}">Pedidos</a>
                {% if request.user.is_staff %}
                <a class="btn btn-primary btn-sm align-content-center my-2 {% if request.path == '/gerencia-pedidos/' %}active{% endif %}"
                    href="{ url 'todos_pedidos' %}">
                    Gerencia Pedidos</a>
                {% endif %}
                <!-- Carrinho -->
                <div class="me-3">
                    <button class="col-2 btn btn-transparent position-relative p-0 mt-2 me-2" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fas fa-shopping-cart fa-2x"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ total_itens }}
                        </span>
                    </button>
                </div>
                <div>
                    <h5 class="align-content-center m-0"><b>{{ request.user }}</b></h5>
                </div>
                <a class="btn btn-primary btn-sm align-content-center my-2" href="/admin/logout">Logout</a>
                {% else %}
                <a class="btn btn-primary btn-sm align-content-center my-2" href="/admin/login">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>